body{
  background-color:aliceblue;
}
p{
  font-size:large;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color:#000000;
  overflow: hidden;

  }
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 17px;
  font-family: Lato, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#CD0000;
  color:white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


.col{
  background-color: aliceblue;
}
.col-xs-5{
  background-color:rgba(172, 168, 168, 0.692);
  position:relative;
  top:-100px;
}
#sidebar{
  position:sticky;
  width:50px;
  top:200px;
  z-index: 5;
}
aside li{
  margin-left: -40px;
  position: relative;
  left:0px;
  display: block;
  width: 150px;
  height: 40px;
}
aside a{
  text-decoration: none;
  width: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  transition: width 0.5s;
  box-sizing: border-box;
}
aside li:hover a{
  width: 120px;
}
aside li a .fab{
  width: 30px;
  height: 80px;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  color: #ffff;
  border-right: 2px solid #A6BFBE;
}
.fa-facebook{
  background-color:#3b5999;
}
.fa-twitter-square{
  background-color:#55acee;
}
.fa-google-plus{
  background-color: #dd4b39;
}
.fa-linkedin{
  background-color: #0077B5;
}
.fa-instagram{
  background-color: #e4405f;
}
aside li a span{
  color: blueviolet;
  margin-left: 10px;
  font-weight:bold;
}
#required:after{
  content: " *";
  font-weight:bold;
  color:red;
}
label{
  font-weight:bold;
}
.rating{
  position:relative;
  left: 100px;
}
.map{
  position:relative;
  padding-left: 100px;
  /* left:100px; */
  top:-100px;
  background-color: aliceblue;
}
div .far{
  padding:5px;
  color:green;
  height:auto;
}
.form-group label{
  font-size:large;
  color:rgb(50, 180, 50);
}
#first{
  position:relative;
  top:100px;
}
.wrapper {
  display: inline-block;
  font-size: 70px;
}
.wrapper * {
  float: right;
  color:grey;
}
input {
  display: none;
}

input:checked ~ label {
  color:orange;
}
@media only screen and (max-width:780px){
  span{
    display:none;
  }
  
  .map{
    /* display:none; */
    position:relative;
    padding-left: 10px;
  /* left:100px; */
    top:-100px;
  }
  .map iframe{
    /* display:none; */
    width:device-width;
    width:auto;
    height:300px;
  }
  .rating{
    position:relative;
    left: 10px;
  }
} 
@media only screen and (max-width:480px){
  #sidebar{
    position:sticky;
    width:50px;
    bottom:0px;
    z-index: 5;
    display:flex;
  }
  #sidebar>.sidebar>ul{
    flex-direction: column;
  }
  aside li{
    /* margin-left:20px; */
    position: relative;
    left:0px;
    display:inline-block;
    width: 150px;
    height: 40px;
  }
   ul li{
    display:inline-block;
  }
  aside a{
    text-decoration: none;
    width: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    transition: width 0s;
    box-sizing: border-box;
  }
} 
