* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/back.jpg");
  background-size: cover;
  background-position-y: -1em;
  background-repeat: no-repeat; 
}
.icon {
  background: #de1f26;
  display: block-inline;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: -11%;
  left: 40%;
}
.icon i {
  font-size: 22px;
}
h1 {
  color: white;
  font-size: 60px;
  font-family: Cinzel Decorative;
  font-size: bold;
}
#intro {
  text-align: center;
  margin:0 auto;
  margin-top: 10%;

}
#intro p {
  font-style: italic;
}
#intro-buttons {
  margin-top: 100px;
  text-align: center;
}
button {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 10px;

}
#sign-up:hover,#logged:hover {
  color: #de1f26;
  background: white;
}
#sign-up,#logged {
  color: white;
  background: #de1f26;
  border: 1px solid #de1f26;
}
#guest {
  color: white;
  background: black;
  border: 1px solid #000;
}
#guest:hover {
  color: black;
  background: white;
}
#log {
  display: none;
}
.card {
  padding-top: 15px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 0;
  box-shadow: 0px -1px 22px -3px rgba(0,0,0,0.75);
}
input[type=password],
input[type=email] {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid black;
  outline: none;
  width: 85%;
  font-size: 1.1em;
}
.form-group {
  margin-top: 20px;
}
input[type=password]:hover,
input[type=email]:hover {
  border-bottom: 2px solid #de1f26;
}

@media (max-width:500px) {
  body {
    background-position-y: 50%;
    background-size: cover;
  }
}