body {
  background-image: url("../images/la.jpeg");
  background-size: cover;
  background-position-y: -1em;
  background-repeat: no-repeat; 
}
h1 {
  color: white;
  font-size: 60px;
  font-family: Cinzel Decorative;
  font-size: bold;
}
#intro {
  text-align: center;
  margin:0 auto;
  margin-top: 10%;

}
#intro p {
  font-style: italic;
}
#intro-buttons {
  margin-top: 100px;
  text-align: center;
}
button {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  margin: 10px;

}
#sign-up:hover,#logged:hover {
  color: #de1f26;
  background: white;
}
#sign-up,#logged {
  color: white;
  background: #de1f26;
  border: 1px solid #de1f26;
}
#guest {
  color: white;
  background: black;
  border: 1px solid #000;
}
#guest:hover {
  color: black;
  background: white;
}
#log {
  display: none;
}
.card {
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 0;
}

@media (max-width:500px) {
  body {
    background-position-y: 50%;
    background-size: cover;
  }
}