* {
  outline-style: none;
  border: none;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.btn,button,input[type=button] {
  outline-style: none;
}